.codex-editor__redactor {
    padding-bottom: 0px !important;
    margin-right: 0px !important;
}

.ce-block__content,
.ce-toolbar__content, 
.cdx-block{
    max-width: unset;

}

.ce-block {
    animation: fade-in 0s ease !important;
    -webkit-animation: fade-in 0s ease !important;
}